body {

	
       background-image: url('Bottom_texture.jpg');
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: top;
}

	

#contenu {  
padding-left:5%;
padding-right:5%;
padding-bottom : 5%;
padding-top : 3%;

	  background-color: #ffffff;
			margin:auto; position:relative;
				-webkit-border-radius:30px 30px 0px 0px;
				-moz-border-radius:30px 30px 0px 0px;
				-o-border-radius:30px 30px 0px 0px;
				border-radius:30px 30px 0px 0px;
			}
			
			
img{width:160px;
	height:190px; 
	float:right;
	margin-right:1%;
	}

h1{ 
	padding-top:5px;
	color:#ffffff;
	text-align:center;
	font-weight:bold; 
	}

h2 {color:#0000FF; 
	text-align:center; 
	text-transform:uppercase; 
	border-bottom:1px solid #3388DD;
	margin-left:20px;
	}
h6{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #FFF;
	margin-bottom:0%;
		
	letter-spacing: 2px;}
	
	
h5 {margin-left:2%;

line-height: 1em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFF;
		display: block;
	font-weight: normal;
	letter-spacing: 2px;}

strong {margin-left:1%}

dl {overflow: hidden;
	padding: 0;
	margin: 0;
	clear:both;
	}

dt {font-weight:bold;
	width:15%;
	float:left;
	margin:0;
	padding:0;
	list-style-type:bullet;
	margin-bottom:20px;
	}
	

dd {float:right;
	width:85%;
	margin:0;
	padding:0;
	margin-bottom:20px;
	
	}
body {
 font-family:"Calibri", times, serif;
 text-align:justify;
width:80%;
margin:auto;

}

html{width:100%;}


#corps {margin-left:15px; margin-right:auto}
header {;}


a:link { text-decoration:none;}





h3{color:#f00;
font-size: 18px; 
	text-align:center; 
	text-transform:uppercase; 
	border-bottom:1px solid #3388DD;
	margin-left:20px;
}
.formulaire{padding-left:10px;padding-bottom:1px;}
